# Package and Upload a release.zip
# See https://docs.github.com/en/actions/use-cases-and-examples/building-and-testing/building-and-testing-java-with-maven

name: Publish release

on:
  push:
    branches: [ "master" ]
  # Allows you to manually run the workflow (for testing)
  workflow_dispatch:

jobs:
  build:
    name: Build and package Aya
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven
      - name: Run install phase
        run: mvn install --batch-mode
      - name: Extract version from POM
        id: version
        run: echo "version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ steps.version.outputs.version }}-${{ github.sha }}
          name: Release v${{ steps.version.outputs.version }}-${{ github.sha }}
          files: target/aya-*.zip
          generate_release_notes: true
